/***************************************************************
CSS for all JSP pages
***************************************************************/
A {
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: #ffffff !important;
	outline: none;
	height: 34px;
	color: black;
	font-weight: 600;
	font-size: 12px;
	font-family: Verdana;
	text-decoration: none;
	padding: 5px;
	top: 30px;
}

a:hover {
	color: #800000;
	text-decoration: underline;
}
.links {
	margin-top: 15px;
}
body {
	margin: 15px;
}

table {
	color: white;
}

tr {
	border: 1px solid white;
	padding: 2px;
}

td {
	border: 1px solid white;
	padding: 2px;
}

.head {
	
}

.content {
	width: 72%;
	float: right;
	padding-right: 10px;
	background: #696969;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 25px 30px;
	padding-bottom: 10px;
	color: white;
	border-bottom-right-radius: 30px;
	font-family: Times New Roman;
	font-size: 15px;
}

.profile {
	position: absolute;
	width: 15%;
	padding-right: 10px;
	background: #696969;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 50px;
	padding-bottom: 10px;
	color: white;
	border-bottom-right-radius: 30px;
	font-family: Times New Roman;
	font-size: 15px;
}

.name {
	position: absolute;
	top: 5%;
	font-size: 17px;
}

.b_cabinet {
	position: absolute;
	top: 11%;
	right: 7%;
}

.b_logout {
	position: absolute;
	top: 11%;
	right: 2%;
}

.b_admin {
	margin-top: 55px;
}

input[type="submit"] {
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: #ffffff !important;
	outline: none;
	height: 24px;
	width: auto;
	color: black;
	font-weight: 600;
	font-size: 11px;
	font-family: Verdana;
}

button[type="submit"] {
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: #ffffff !important;
	outline: none;
	height: 24px;
	width: auto;
	color: black;
	font-weight: 600;
	font-size: 11px;
	font-family: Verdana;
}